*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* colors */
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  /* Tipograph */
  --ff-base: "Raleway", sans-serif;

  --fw-bold: 700;
  --fw-md: 500;
  --fw-base: 400;

  --fs-sm: 0.625rem;
  --fs-md: 0.875rem;
  --fs-base: 1rem;

  /* media*/
  --fs-lg: 1.5rem;
  --fs-xl: 1.75rem;

  --px-base: 1.25rem;
}

html {
  font-family: var(--ff-base);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  color: var(--text-body);
}

h1 {
  font-size: var(--fs-xl);
}

h2 {
  font-size: var(--fs-lg);
}

ul[role="list"] {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--blue-light);
}

a:hover {
  color: var(--text-body);
}

body {
  background-color: #000f1f;
}

@media (width >= 80em) {
  :root {
    --fs-lg: 2rem;
    --fs-xl: 3rem;
  }
}
